# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# settings files
**/firebase/_config-object*.json
**/firebase/serviceAccount*.json
!**/firebase/serviceAccount.json.example
